option_settings:
  aws:elasticbeanstalk:application:environment:
    LOGGING: debug
    APP_ENV=dev
    APP_SECRET=11810b130768c28cf3e99cc4112bd884
    DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name
    BUCKET=mcanova-dms
    CORS_ALLOW_ORIGIN=^https?://localhost(:[0-9]+)?$
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
    EnvironmentType: SingleInstance
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  AWSEBAutoScalingLaunchConfiguration.aws:autoscaling:launchconfiguration:
    EC2KeyName: aws-mcanova-private

Resources:
    AWSEBRDSDatabase:
        Type: AWS::RDS::DBInstance
        Properties:
            AllocatedStorage: 5
            DBInstanceClass: db.t2.micro
            DBName: dms-prod
            Engine: mysql
            EngineVersion: 5.5
            MasterUsername: root
            MasterUserPassword: Nova5678