option_settings:
  aws:elasticbeanstalk:application:environment:
    LOGGING: debug
    APP_ENV: prod
    APP_SECRET: 11810b130768c28cf3e99cc4112bd884
    BUCKET: mcanova-dms
    CORS_ALLOW_ORIGIN: https//localhost
    RDS_HOSTNAME:dms.c8xoozbqlwqw.us-east-1.rds.amazonaws.com
    RDS_PORT:3306
    RDS_DB_NAME:dms
    RDS_USERNAME:root
    RDS_PASSWORD: