container_commands:
  01_change_file_permissions:
    command: chmod 777 /var/app/current/frontend/run.sh
  02_check_pre:
    command: ls -ltra /var/app/current/api/var
  03_change_api_directory_permissions:
    command: sudo chmod -R 777 /var/app/current/api/var
  04_check_post:
    command: ls -ltra /var/app/current/api/var