container_commands:
  01-install-php:
    command: "sudo yum update -y && sudo yum install php72 -y && sudo yum install php72-mysqlnd.x86_64 -y"
    ignoreErrors: false
    leader_only: true
  02-run-migrations:
    command: "cd /var/app/staging/api && php bin/console doctrine:migrations:migrate --no-interaction"
    ignoreErrors: false
    leader_only: true


